<% if (post.prev || post.next){ %>
<div style='border-top:solid 1px #ECEBEB;height:2px;margin-top:40px'>
<br>
</div>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap" style="float: left">
      <div class="article-nav-title" style="margin-bottom: 20px;">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap"  style="float: right;margin-right: 20px;">
      <div class="article-nav-title"><%= post.next.title %></div>
    </a>
  <% } %>
</nav>
<% } %>