<div class="row">
    <div class="col-xs-12">
    <%- partial('post/title', {class_name: 'archive-article-title'}) %>
    <ul class="blog-info">
      <li>
      	<i class="fa fa-calendar"></i> 
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY/MM/DD'}) %>
      </li>
    </ul>

  </div>
</div>
