<section class="collection-head geopattern">
    <div style="height:30px;"><h1>&nbsp;</h1></div>
</section>
<section class="container">
    <div class="search" >
      <%- partial('_widget/guitar-search') %>
    </div>
    <div class="guitar-card-list">
      <% site.categories.each(function(category){ %>
        <% if(category.name == 'guitar'){ %>
          <% category.posts.each(function(post){ %>
            <li class="collection-card">
              <a href="{%=clone_url%}" class="card text-center" target="_blank">
                  <div class="thumbnail" style="margin-bottom:0px">
                      <div class="guitar-card-image geopattern" >
                          <div class="guitar-card-image-cell">
                              <h3 class="guitar-card-title">
                                <%- partial('post/title',{class_name:'posts-list-name',post:post,index:true}) %>
                              </h3>
                          </div>
                      </div>
                  </div>
              </a>
            </li>
          <% }) %>
        <%}%>
      <% }) %>
    </div>
</section>
