<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Tag</li>
    <li class="active"><%- page.tag %></li>
  </ul>
<div id="main">
  <%- partial('_partial/post', {pagination: config.archive, index: false}) %>
</div>
</div>
